.comic-section {
  img {
    max-width: 100%;
    max-height: 400px;
  }

  h6 {
    font-style: italic;
  }

  .star-button {
    .fa-star {
      font-size: 30px;

      &:hover {
        color: #deb217;
      }
    }

    button:hover ~ button,
    button:hover,
    i.checked {
      color: orange;
    }

    button {
      background-color: transparent;
      border-color: transparent;
      &:focus {
        outline: 0;
      }
    }
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 576px) {
  .fa-star {
    font-size: 60px !important;
  }
}
